body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}
header {
    height: 67px;
    /*border:solid rgb(206, 21, 0) 3px;*/
}
nav {
    height: 47px;
    /*border:solid black 3px;*/
    display:flex;
    justify-content:right;
    align-items:center;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif; /*sirve para cambiar el tipo de letra*/
    font-size: 13px ;
}

.imagenes1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
    .menu {
        width: 24px;
        height: 24px;
        padding: 8px; 
    }
        .circle1 {
            background-color: none;
        }
        .circle1 :hover{
        background-color:rgba(128, 128, 128, 0.5);  
        border-radius: 50%; 
    }
    .avatar {
        height: 35px;
        border-radius: 50%;
        padding: 6px;
    }
        .circle2 {
            background-color: none;
        }
        .circle2 :hover{
        background-color:rgba(128, 128, 128, 0.5);  
        border-radius: 50%; 
}

.links {
    margin-right: 15 px;
    display:flex;
    width: 150px;
    justify-content: space-around;
    text-decoration-color: black;

}
    /*lo siguiente es para hacer que el texto solo se deline cuando le acerco el cursor*/
    .links a{
        text-decoration: none;
    }
    .links a:hover {
        text-decoration: underline;
    }
    /*aqui termina*/

.section {
    /*border: solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.google {
    /*border: solid;*/
    height: 90px
}
section {
    /*border: solid blue;*/
    display: flex;
    justify-content: center;
    height: 142px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.buscador1 {
    display: flex;
    border:1px solid #dfe1e5;
    height: 41px;
    width: 560px;
    border-radius: 24px;
    align-items: center;
    justify-content: space-between;
    cursor: text;
}
    .buscador {
        height: 41px;
        width: 560px;
        border-radius: 24px;
    }
    .buscador :hover{
        box-shadow: 0px 0px 2px 2px rgba(56, 60, 61, 0.1);
        
    }
        .lupa {
            height: 15px;
            padding: 15px;
            box-shadow: none;
            
        }
        input {
            width: 420px;
            height: 27px;
            background-color: transparent;
            border: transparent;
            outline: none;
            box-shadow: none;
        }
        .microfono {
            height: 24px;
            padding: 8px;
            cursor:pointer;
            box-shadow: none;
        }
        .camara {
            height: 24px;
            width: 24px;
            padding: 8px;
            padding-right: 15px;
            cursor: pointer;
            box-shadow: none;
        }

.botones {
    display: flex;
    height: 41px;
    width: 560px;
    align-items: center;  
    justify-content: center;
    padding-top: 20px;
}
    .buscar1 {
        min-height: 34px;
        background-color: #f8f9fa;
        min-width: 54px;
        padding: 0px 16px;
        border:1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: Arial, sans-serif;
        font-size: 13px;
        margin:11px 4px ;
        display: flex;
        align-items:center ;
        cursor: pointer;
        user-select: none;
    }
        .buscar h {
            border: none;
        }
        .buscar h:hover {
            border: solid #b9b9b9c7 1px;
        }
    .suerte1 {
        min-height: 34px;
        background-color: #f8f9fa;
        min-width: 54px;
        padding-left: 16px;
        padding-right: 16px;
        border:1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: Arial, sans-serif;
        font-size: 13px;
        margin:11px 4px ;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
    }
        .suerte a {
            border: none;
        }
        .suerte a:hover {
        border: solid #b9b9b9c7 1px;
        }
/*------------------------------------------------*/
.idioma {
    height: 28px;
    margin-bottom: 151px;
    display: flex;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.idioma a{
    text-decoration: none;
}
.idioma a:hover {
    text-decoration: underline;
}

/* --------------------------------------------- */
footer {
    color: #70757a
}
.footer1 {
    height: 17px;
    background-color: #f0f0f0;
    color: #70757a;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid #3c40433f 1px;
    font-size: 15px;
}
.mx {
    cursor: pointer;
}
/* --------------------------------------------------- */
.footer2 {
    background-color: #f0f0f0;
    display: flex;
    height: 50px;
    padding: 10px 20px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer :hover {
    text-decoration: underline;
}

.p {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a



}

.pp {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}
.ppp {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}
.pppp {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}
.n1 :hover {
    text-decoration: underline;
}
.n {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}
.nn {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}
.nnn {
    padding: 15px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    color: #70757a
}